body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 420px;
}

nav {
  margin: 0 auto;
  padding: 20px 0 20px 15px;
  position: fixed;
  width: 420px;
  background-color: #000000;
}

nav div.arrow-left i {
  font-size: 1.25rem;
}

.restaurant-list {
  padding-top: 60px;
  background-color: #FAFAFA;
  width: 435px;
}

div.content h1 {
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bolder;
  line-height: 1.7;
}

div.content h3 {
  font-size: 14px;
  font-family: sans-serif;
  font-weight: normal;
  line-height: none;
}

div.location {
  padding: 10px;
  border-bottom: solid black 1px;
  height: 50px;
}

div.location .arrow {
  width: 5%;
  float: left;
  margin-top: 15px;
  padding-left: 5%;
}

div.location .arrow i {
  font-size: 1.25rem;
}

div.location .content {
  width: 90%;
  float: left;
}

div.location:hover {
  background-color: #a9a9a9;
  cursor: pointer;
}
